{% extends 'dashfiles/base.html' %}
{% block content %}
<div class="container">
  <h2>URL File Manager</h2>
  <p>Keep track of all of your urls, the account information, DNS server documentation, and more!</p>
  <a class="btn btn-primary" href="{% url 'upload-pbn' %}" role="button">Add New URL</a>
    <br/>

  <table class="table">
    <br/>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Domain Name</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    {% for PBNsite in shelf %}
    <tbody>
      <tr>
        <th scope="row">{{PBNsite.id}}</th>
        <td>{{PBNsite.domain_name }}</td>
        <td>{{PBNsite.category }}</td>
        <td>{{PBNsite.status }}</td>
        <td><a href="update/{{PBNsite.id}}" class="btn btn-outline-info" id = '{{PBNsite.id}}'>edit</a></td>
        <td><a href="delete/{{PBNsite.id}}" class="btn btn-outline-danger" id = '{{PBNsite.id}}'>delete</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  </div>
{% endblock %}

