{% extends 'dashfiles/base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="text-center">
        <h1>Google Index Automation: 50 URL Quick Search</h1>
    </div>
    <br/>
<div class="row">
    <div class="col-8">
        <div class="text-center">
            <h2>Rapid URL Search</h2>
            <form method="POST">
                {% csrf_token %}
                <textarea name="input_list" rows="10" cols="60"></textarea>
                <br><br>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="col-4">
        <br/>
        <br/>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Documentation</h6>
            </div>
            <div class="card-body">
              The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
            </div>
        </div>
    </div>
  </div>


  
</div>

{% endblock %}