{% extends 'dashfiles/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">PROJECTS</h6>
        </div>
          <div class="card-body">
            <button type="button" class="btn btn-outline-dark">Add New</button>
            <div class="row">
              <div class="col-sm-12">
                <br/>
                <div class="card">
                  <div class="card-body">
                    <p>Project Domain Information </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br/>
                <div class="card">
                  <div class="card-body">
                    <p>Project Domain Information </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br/>
                <div class="card">
                  <div class="card-body">
                    <p>Project Domain Information </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      {% endblock %}